* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: white;
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0ch auto;
}

.header {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
}

.menu,
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    font-weight: bold;
    font-size: 21px;
}

.menu-text {
    padding-left: 20px;
    font-size: 16px;
    font-family: CircularStd;
}

.active {
    color: #F04037;
}

.menu-btn {
    background-color: #F04037;
    font-weight: 600;
    padding: 17px;
    border-radius: 5px;
}

.header-left {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 40px;
    width: 500px;
}

.left-title {
    font-size: 70px;
}

.left-text {
    font-size: 21px;
    color: #BABABA;
}

.header-center {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.header-right,
.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-right {}

.reg-form {
    color: black;
    background-color: white;
    padding: 20px;
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 42px 54px 0px #000000C9;
    height: 330px;
}

.form-legend {
    color: #696871;
    margin-left: 20px;
}

.reg-input,
.reg-btn {
    color: #696871;
    /* width: 20px; */
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #EAE9F2;
    border-radius: 5px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #EAE9F2;
}

.reg-btn {
    background-color: #F04037;
    color: white;
    border: 2px solid #C31A12;
    border-radius: 5px;
}

select,
option {
    width: 265px;
}

fieldset>.reg-input {
    border: 0px;
}

.header {
    background-repeat: no-repeat;
    background-image: url(./img/Oval.png), url(./img/Oval\ Copy.png), url(./img/Oval\ Copy\ 5.png);
    background-position: right 8% top 55%, right 7% top 60%;
    background-size: 400px, 400px;
}